
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="automation_test"   verbose="1" parallel="classes">
    <test name="ebay_Automation" >
        <classes>
            <class name="grid.EbayPriceValidation"/>
            <class name="grid.Chrome1"/>

        </classes>
    </test>
</suite>
